# Nagios Contact Definitions
# Define who receives alerts and how

define contact {
    contact_name            nagiosadmin
    alias                   Nagios Administrator
    service_notification_period 24x7
    host_notification_period 24x7
    service_notification_options w,u,c,r
    host_notification_options d,u,r
    service_notification_commands notify-service-by-email
    host_notification_commands notify-host-by-email
    email                   {{ nagios_email_alerts }}
}

define contact {
    contact_name            slack-notifications
    alias                   Slack Notifications
    service_notification_period 24x7
    host_notification_period 24x7
    service_notification_options w,u,c,r
    host_notification_options d,u,r
    service_notification_commands notify_slack
    host_notification_commands notify_slack
    email                   slack@example.com
}

define contactgroup {
    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin,slack-notifications
}

define contactgroup {
    contactgroup_name       devops-team
    alias                   DevOps Team
    members                 nagiosadmin
}

define contactgroup {
    contactgroup_name       on-call
    alias                   On-Call Support
    members                 nagiosadmin
}

# Service notification command template
define command {
    command_name            notify-service-by-email
    command_line            /usr/bin/printf "%b" "***** Nagios Service Alert *****\n\nNotification Type: $NOTIFICATIONTYPE$\nService: $SERVICEDESC$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n$SERVICEOUTPUT$" | mail -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTNAME$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

# Host notification command template
define command {
    command_name            notify-host-by-email
    command_line            /usr/bin/printf "%b" "***** Nagios Host Alert *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nAddress: $HOSTADDRESS$\nState: $HOSTSTATE$\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n$HOSTOUTPUT$" | mail -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$
}
