---
- name: Create Gunicorn log directory
  file:
    path: /var/log/gunicorn
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: '0755'

- name: Create Gunicorn systemd service file
  template:
    src: gunicorn.service.j2
    dest: /etc/systemd/system/gunicorn.service
    owner: root
    group: root
    mode: '0644'

- name: Create Gunicorn systemd socket file
  template:
    src: gunicorn.socket.j2
    dest: /etc/systemd/system/gunicorn.socket
    owner: root
    group: root
    mode: '0644'

- name: Ensure systemd daemon is reloaded
  systemd:
    daemon_reload: yes

- name: Start and enable Gunicorn service
  systemd:
    name: gunicorn
    state: started
    enabled: yes
    daemon_reload: yes
