---
- name: Create Gunicorn systemd service file
  template:
    src: gunicorn.service.j2
    dest: /etc/systemd/system/gunicorn.service
    owner: root
    group: root
    mode: '0644'

- name: Create Gunicorn systemd socket file
  template:
    src: gunicorn.socket.j2
    dest: /etc/systemd/system/gunicorn.socket
    owner: root
    group: root
    mode: '0644'
- name: Ensure systemd daemon is reloaded
  systemd:
    daemon_reload: yes

- name: Restart Gunicorn service
  systemd:
    name: gunicorn
    state: restarted
