---
- name: Create Nginx configuration for Django app
  template:
    src: nginx_django.j2
    dest: /etc/nginx/sites-available/django-app
    owner: root
    group: root
    mode: '0644'

- name: Enable Nginx site
  file:
    src: /etc/nginx/sites-available/django-app
    dest: /etc/nginx/sites-enabled/django-app
    state: link

- name: Disable default Nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Ensure Nginx default site is removed
  file:
    path: /etc/nginx/sites-available/default
    state: absent

- name: Test Nginx configuration
  command: nginx -t
  register: nginx_test
  failed_when: nginx_test.rc != 0

- name: Display Nginx test result
  debug:
    msg: "Nginx configuration test: {{ nginx_test.stdout }}"

- name: Restart Nginx to apply configuration changes
  systemd:
    name: nginx
    state: restarted
    daemon_reload: yes
